/* Aula inicial :D */


/* Body: envolve todo o corpo do site,tudo. */


/* Alterar fundo = background 
ex: background: green;
ex: background-image = url('http://www.vanessametonini.com.br/imersaocss/a1/img/fundo.jpg');
*/

body {
    background-image: url('http://www.vanessametonini.com.br/imersaocss/a1/img/fundo.jpg');
    background-size: auto 100vh;
    height: 100vh;
    /*unidade que ajusta a 100% o tamanho da tela matendo a proporção do eixo horizontal e 100% da altura (auto, 100vh)*/
    font-family: Verdana;
}


/* chamando uma classe do HTML, usa um ponto */

.menu {
    background-color: white;
    /*barra fica branca*/
}

.menu li {
    list-style: none;
    /*tira bullets*/
}

.menu ul {
    display: flex;
    /*um ao lado do outro*/
    justify-content: space-around;
    /*inclui um espaço entre as colunas */
}


/* abaixo aproveitamos duas classes com os mesmos atributos e nao precisamos escrever duas vezes o código. bota uma classe, virgula e depois a outra com os atributos iguais. */

.site-subtitle,
.site-title {
    color: whitesmoke;
    text-align: center;
}

.site-subtitle {
    font-style: italic;
}


/*text-decoration:  dependendo da tag faz várias alterações no texto. no caso de um link , tag <a> ele já está padrão underline, se quiser tirar o sublinhado, bota none; */

a {
    color: teal;
    text-decoration: none;
}


/*existem pseudo-classes, já previamente existentes como passar o mouse no link e acontecer algo. no caso do link <a> chamando hover (passando o mouse) pode colocar mais atributos assim: a:hover {text-decoration: underline;}, no a: active {} é quando aperta o link. ver: https://www.w3schools.com/css/css_link.asp
  */

a:hover {
    text-decoration: underline;
}


/* Todas os seletores que estejam dentro da classe menu irão receber determinados estilos, assim vamos alterar apenas as listas da classe menu e não de todo o site, fazendo .classe _ espaço _ seletor {estilos} */